.heroSection {
  display: flex;
  width: 100%;
  height: 536px;
}
.Content {
  margin-left: 140px;
  width: 571px;
  height: 194px;
  margin-top: 110px;
  color: var(--css-white);
  font-size: 66px;
}
.ContentDetails {
  width: 560px;
  height: 99px;
  margin-top: 340px;
  margin-left: 140px;
  color: var(--css-white);
  opacity: 0.3;
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}
.ImgSrc img {
  position: absolute;
  width: 443px;
  height: 509px;
  margin-top: 40px;
  margin-left: 172px;
}
.ImgSrc-frame {
  margin-top: 100px;
  margin-left: 172px;
  width: 458px;
  height: 458px;
  border-radius: 55px;
  background-color: var(--css-primary);
}

.Searchbar {
  width: 438px;
  height: 74px;
  margin-top: 460px;
  margin-left: -572px;
  color: var(--css-white);
  /* opacity: 0.1; */
  position: relative;
}
/* .Searchbar input::placeholder {
  color: var(--css-white);
  opacity: 0.2;
} */
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 137px;
  height: 62px;
  margin-top: -67px;
  margin-left: 295px;
  color: var(--css-black);
  border-radius: 43px;
  background-color: var(--css-primary);
  font-weight: 600;
}
