h1 {
  font-size: 54px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--css-white);
  font-weight: 600;
  margin-bottom: 60px;
}
.marginSetter {
  margin-top: 150px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 100px;
}
.members-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 140px;
  margin-bottom: 100px;
}
.member-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 20px;
  margin-right: 180px;
  transition: background 0.3s ease;
}
.member-row:hover {
  background: #e3b748;
  border-radius: 14px;
}
.member-row img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 18px;
}
.member-row h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--css-white);
  margin-top: 0px;
  margin-bottom: 0px;
}
.member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.member-row p {
  color: var(--css-white);
  opacity: 0.3;
  font-size: 14px;
  font-weight: 500;
  display: inline;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0px;
}
